.titleContainer{
    color: #00e7ff;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 4vh
}

.textContainer{
    margin: 0 5vh 0 5vh;
    font-family: 'Recursive', sans-serif;
}