/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

/* Css general */
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }